<div id="sidebar" class="shadow">  
  <div id="sidebarcontents">
    <h2 id="sidebartitle">Employee Leaderboard!</h2>
    <p id="breadnews-text">Clair you are the top employee of Clair's Salon.  You have a higher sales record than all of the other stylists and you have better hair.</p>
  </div>
</div>